<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "3.0">
    <name>KL BLOG DEMO</name>

    <description>
       KL BLOG DEMO FRONTEND
    </description>

    
    <preference name="phonegap-version" value="2.7.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="android-installLocation" value="preferExternal" />
    

   

    
</widget>